USE [crb]
GO
/****** Object:  StoredProcedure [dbo].[PS_ConsumerCreditDailyData]    Script Date: 4/25/2024 5:40:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PS_ConsumerCreditDailyData] 
	
AS
BEGIN
	insert into crb.dbo.TConsumerCRBDaily
(
       creationDate,
       [accountNumber]
      ,[accountOwner]
      ,[accountRepaymentTerm]
      ,[accountStatus]
      ,[accountType]
      ,[actualPaymentAmount]
      ,[amountPastDue]
      ,[approvalDate]
      ,[availableCredit]
      ,[category]
      ,[classification]
      ,[country]
      ,[currencyType]
      ,[currentBalance]
      ,[currentBalanceIndicator]
      ,[dateAccountOpened]
      ,[dateAccountUpdated]
      ,[dateClosed]
      ,[dateOfBirth]
      ,[daysInArrears]
      ,[drivingLicenseNumber]
      ,[emailAddress]
      ,[employerAddressLine1]
      ,[employerAddressLine2]
      ,[employerCountry]
      ,[employerName]
      ,[employerTown]
      ,[facsimile]
      ,[finalPaymentDate]
      ,[firstPaymentDate]
      ,[foreName1]
      ,[foreName2]
      ,[foreName3]
      ,[gender]
      ,[groupName]
      ,[groupNumber]
      ,[healthInsuranceNumber]
      ,[homeTelephone]
      ,[income]
      ,[incomeFrequency]
      ,[installmentsInArrears]
      ,[interestRateAtDisbursement]
      ,[lastPaymentDate]
      ,[maritalStatus]
      ,[mobileTelephone]
      ,[nationalId]
      ,[nationality]
      ,[nature]
      ,[noOfDependants]
      ,[numberOfJointLoanParticipants]
      ,[occupation]
      ,[oldAccountNumber]
      ,[openingBalance]
      ,[passportNumber]
      ,[physicalAddressCell]
      ,[physicalAddressDistrict]
      ,[physicalAddressLine1]
      ,[physicalAddressLine2]
      ,[physicalAddressPlotNumber]
      ,[physicalAddressPostalCode]
      ,[physicalAddressProvince]
      ,[physicalAddressSector]
      ,[placeOfBirth]
      ,[postalAddressNumber]
      ,[postalCode]
      ,[residenceType]
      ,[salutation]
      ,[scheduledPaymentAmount]
      ,[sectorOfActivity]
      ,[socialSecurityNumber]
      ,[surName]
      ,[taxNumber]
      ,[termsDuration]
      ,[workTelephone]
      ,[recordType]
      ,[ClientId]
      ,[LoanID]
      ,[sectAct]
)
select 
       getdate(),
       [accountNumber]
      ,[accountOwner]
      ,[accountRepaymentTerm]
      ,[accountStatus]
      ,[accountType]
      ,[actualPaymentAmount]
      ,[amountPastDue]
      ,[approvalDate]
      ,[availableCredit]
      ,[category]
      ,[classification]
      ,[country]
      ,[currencyType]
      ,[currentBalance]
      ,[currentBalanceIndicator]
      ,[dateAccountOpened]
      ,[dateAccountUpdated]
      ,[dateClosed]
      ,[dateOfBirth]
      ,[daysInArrears]
      ,[drivingLicenseNumber]
      ,[emailAddress]
      ,[employerAddressLine1]
      ,[employerAddressLine2]
      ,[employerCountry]
      ,[employerName]
      ,[employerTown]
      ,[facsimile]
      ,[finalPaymentDate]
      ,[firstPaymentDate]
      ,[foreName1]
      ,[foreName2]
      ,[foreName3]
      ,[gender]
      ,[groupName]
      ,[groupNumber]
      ,[healthInsuranceNumber]
      ,[homeTelephone]
      ,[income]
      ,[incomeFrequency]
      ,[installmentsInArrears]
      ,[interestRateAtDisbursement]
      ,[lastPaymentDate]
      ,[maritalStatus]
      ,[mobileTelephone]
      ,[nationalId]
      ,[nationality]
      ,[nature]
      ,[noOfDependants]
      ,[numberOfJointLoanParticipants]
      ,[occupation]
      ,[oldAccountNumber]
      ,[openingBalance]
      ,[passportNumber]
      ,[physicalAddressCell]
      ,[physicalAddressDistrict]
      ,[physicalAddressLine1]
      ,[physicalAddressLine2]
      ,[physicalAddressPlotNumber]
      ,[physicalAddressPostalCode]
      ,[physicalAddressProvince]
      ,[physicalAddressSector]
      ,[placeOfBirth]
      ,[postalAddressNumber]
      ,[postalCode]
      ,[residenceType]
      ,[salutation]
      ,[scheduledPaymentAmount]
      ,[sectorOfActivity]
      ,[socialSecurityNumber]
      ,[surName]
      ,[taxNumber]
      ,[termsDuration]
      ,[workTelephone]
      ,[recordType]
      ,[ClientId]
      ,[LoanID]
      ,[sectAct]

	  from [192.168.0.250\USACCOMAIN].AphaComptaDB2019.dbo.TConsumerCRB /*where approvalDate >= DATEADD(DAY, -1, CAST(GETDATE() AS DATE))
  AND approvalDate < CAST(GETDATE() AS DATE) and dateAccountOpened >= DATEADD(DAY, -1, CAST(GETDATE() AS DATE))
  AND dateAccountOpened < CAST(GETDATE() AS DATE)*/;


	  

	 -- delete from AphaComptaDB2019_31_10_2022_AfterEOM.dbo.TConsumerCRB;

END
